.boxo{
    height:70px;
    width:70px;
    margin-top:-2px;
    margin-bottom: -2px;
    margin-left:-4px;
    background-color:#8b4513;
    opacity:1;
    display:inline-block;
  }
  .boxe{
    height:70px;
    width:70px;
    margin-top:-2px;
    margin-bottom: -2px;
    margin-left:-4px;
    background-color:#ffdead;
    opacity:0.5;
    display:inline-block;
  }
  .obox{
    margin-top: 80px;
    margin-left: 500px;
  }
  body{
    background-color: rgb(156, 140, 130);
  }
  .lineleft{
    height: 569.5px;
    width:18px;
    background-color: rgb(0, 0, 0);
    margin-left: -22px;
    margin-bottom: -600px;
    padding-top: 1.5px;
    padding-bottom: 10px;
  }
  .lineright{
    height: 574px;
    width:18px;
    background-color: rgb(0, 0, 0);
    margin-left: 556px;
    margin-top: -580px;
    padding-bottom: 6px;
   
  }
  .linedown{
    width:584px;
    height:18px;
    background-color: rgb(0, 0, 0);
    margin-left: -22px;
    padding-left: 12px;
    margin-top: -21px;
  
  }
  .lineup{
    width:582px;
    height:18px;
    background-color: rgb(0, 0, 0);
    margin-left: -18px;
    margin-bottom: 2px;
  }
  p{
    margin-left: 5px;
    margin-top: 19px;
    color:#ffff;
  }